{% extends 'core/base.html' %} {% load static %} {% block content %}
<div class="mt-5 ">
  <div class="text-center">
    <img
      src="{% static 'core/images/pic.jpg' %}"
      alt="ProfilePic"
      class="img-thumbnail"
      width="250px"
      height="150px"
    />
  </div>
  <div class="mt-5 text-white">
    <h1 class="font-weight-bold st-font">Hello</h1>
    <div style = "line-height:2rem;">
        <p style="text-indent:100px" >Lorem ipsum dolor sit amet consectetur a
        dipisicing elit. Saepe cumque vitae enim quod quae eveniet quaerat del
        ectus consequuntur molestiae quia fuga, alias illo facilis repellat eum
        , eaque quasi mollitia, nostrum soluta? Dolorem cum tempore, beatae dol
        ores eum at animi autem assumenda reprehenderit possimus earum dolorib
        us obcaecati excepturi rerum distinctio ipsum eos, temporibus, quos om
        nis dolore itaque nulla! Nobis impedit rerum illum dignissimos eligen
        di incidunt id molestias assumenda fuga itaque sunt ratione fugit max
        ime iusto at, ipsa quas ad repudiandae velit iure quaerat alias adipi
        sci soluta! Pariatur qui quam sint corrupti 
        magni ut quia voluptatem suscipit! Quam delectus
         maxime veritatis nobis?</p>
    </div>
  </div>
  <div class="text-center">
    <a href="{% url 'contact' %}" class="btn btn-outline-warning my-3 mr-5">Hire me</a>
  <a href="{% url 'contact' %}" class="btn btn-outline-info my-3 mr-5">Contact</a>
  </div>
  
</div>
{% endblock content %}
